extends ./layouts/common.pug

block content
    link(rel="stylesheet", href="/styles/notfound.css")
    div(class="proInNotFound")
        p Product
    div(class="notfound")
        p Not product founded :(