extends ./layouts/common.pug

block content
    link(rel="stylesheet", href="/styles/updateProduct.css")
    div(class="totalUpdate")
        form(action="", method="post")
            div(class="nameCate")
                input(type="text" name="cateproductName" placeholder="Tên danh mục sản phẩm" readonly)
                img(src="/images/arrow_down.png", alt="",class="imgCate")
                img(src="/images/check_success.png", alt="",class="checkSuccess")
            div(class="otherInput")
                input(type="text" name="productName" placeholder="Tên sản phẩm")
                img(src="/images/check_success.png", alt="",class="checkSuccess")
            div(class="otherInput")
                input(type="text" name="productDescription" placeholder="Mô tả chi tiết")
                img(src="/images/check_success.png", alt="",class="checkSuccess")
            div(class="otherInput")
                input(type="number" name="priceBuy" placeholder="Giá mua")
                img(src="/images/check_success.png", alt="",class="checkSuccess")
            div(class="otherInput")
                input(type="number" name="priceSale" placeholder="Giá bán")
                img(src="/images/check_success.png", alt="",class="checkSuccess")
            div(class="otherInput")
                input(type="file" name="imageURL" placeholder="Hình ảnh") 
                img(src="/images/check_success.png", alt="",class="checkSuccess")
            div(class="otherInput")
                input(type="text" name="manufacterName" placeholder="Tên nhà sản xuất")
                img(src="/images/check_success.png", alt="",class="checkSuccess")
            div(class="otherInput")
                input(type="text" name="manufacterAddr" placeholder="Địa chỉ nhà sản xuất")
                img(src="/images/check_success.png", alt="",class="checkSuccess")
            div(class="otherInput")
                input(type="text" name="manufacterPhone" placeholder="Số điện thoại nhà sản xuất")
                img(src="/images/check_success.png", alt="",class="checkSuccess")
            div(class="otherInput")
                input(type="number" name="numberOfProduct" placeholder="Số lượng sản phẩm")
                img(src="/images/check_success.png", alt="",class="checkSuccess")
            
            button Tạo  