*{margin: 0px;padding: 0px;}
.subheader{
    background-color: #0a930a;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    color:white;
    justify-content: center;
}
.header{
    background-color: #1aaa1a;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
ul.setbackground{
    list-style: none;
    display: flex;
    font-size: 20px;
    align-items: center;
    width: 100%;
}
ul.setbackground li{
    
}
ul.setbackground li.sympol img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
ul.setbackground li.formSearch{
    width: 65%;
}
ul.setbackground li.formSearch form{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
ul.setbackground li.formSearch form input{
    height: 30px;
    width: 60%;
    border-radius: 10px;
    padding: 5px 10px;
    border: 0px;
    margin-right: 5px;
}
ul.setbackground li.formSearch form button{
    background: brown;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    padding: 5px 10px;
    border:0px;
    color: white;
    cursor: pointer;
}
ul.setbackground li.formSearch form button:hover{
    background-color: rgb(233, 26, 26);
}

ul.setbackground li.cart a{
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 5px;
    transition: 0.4s;
    font-size: 16px;
}
ul.setbackground li.cart a:hover{
    background-color: brown;
}
ul.setbackground li.cart img{
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.bottomHeader{
    width: 98%;
    background-color: #1aaa1a;
    padding-bottom: 5px;
    padding-left: 2%;
}
.bottomHeader ul{
    display: flex;
    list-style: none;
}
.bottomHeader ul li{
    padding: 5px 20px;
}
.bottomHeader ul li a{
    text-decoration: none;
    color: white;
}
.bottomHeader ul li:hover{
    background-color: #0a930a;
}
.bottomHeader ul li.categoryProduct{
    position: relative;
    width: 16%;
    text-align: center;
}
.bottomHeader ul li.categoryProduct:hover .listdanhmuc{
    opacity: 1;
    visibility: visible;
    width: 100%;
}
.bottomHeader ul li.categoryProduct .listdanhmuc{
    background-color: white;
    position: absolute;
    z-index: 99;
    top: 27px;
    left: -1px;
    opacity: 0;
    visibility: hidden;
    border: 1px solid gray;
}
.bottomHeader ul li.categoryProduct .listdanhmuc a{
    color: black;
    font-size: 17px;
}
.bottomHeader ul li.categoryProduct .listdanhmuc .itemdanhmuc{
    padding: 5px;
}
.bottomHeader ul li.categoryProduct .listdanhmuc .itemdanhmuc:hover{
    background-color: #1aaa1a;
}
.bottomHeader ul li.categoryProduct .listdanhmuc .itemdanhmuc:hover a{
    color: white;
}