*{margin: 0; padding: 0;}
.totalLogin{
    width: 100%;
    height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(0deg,#4481eb,#04befe); */
    background-image: url("/images/background.jpg");
}
.totalLogin .insideLogin{
    width: 30%;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}
.totalLogin .insideLogin p.err{
    background-color: rgb(228, 68, 68);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.totalLogin .insideLogin input{
    font-size: 18px;
    padding: 10px;
    border:1px solid #1aaa1a;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.totalLogin .insideLogin button{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: brown;
    color: wheat;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
}
.totalLogin .insideLogin button:hover{
    background-color: #1aaa1a;
    color: white;
}
.totalLogin .insideLogin .avatarLogin{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.totalLogin .insideLogin .avatarLogin img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.totalLogin .insideLogin .avatarLogin p{
    font-weight: bold;
    font-family: inherit;
    color: #55a4f3;
    font-size: 25px;
}

.totalLogin .insideLogin p.notaccount{
    font-size: 18px;
    font-family: tahoma;
    margin-top: 10px;
    margin-bottom: 20px;
}
.totalLogin .insideLogin a{
    text-decoration: none;
    padding: 10px 150px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    transition: 0.4s;
}
.totalLogin .insideLogin a:hover{
    background-color: rgba(177, 170, 170, 0.356);
}